<html>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <%- include('./partials/head.ejs'); %>



    <style>
        .accordion {
          background-color: rgb(255, 255, 255);
          color: #444;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.4s;
          text-align: center;
        }
        
        .active, .accordion:hover {
          background-color: #ccc; 
        }
        
        .panel {
          padding: 0 18px;
          display: none;
          background-color: white;
          overflow: hidden;
        }
        </style>

<body style="font-family: Poppins;">

    <%- include('./partials/nav.ejs'); %>


<div class="form">
<div class="content">
<h4 class="title">Welcome <%- user.username %>, </h4>     
  <br>
  <p class="centre"> <b>Create a</b>
     <button onclick="window.location.href='/new_note'" class="new-note-btn">New Note</button>
    <b>start a</b> 
    <button onclick="window.location.href='/new_note'" class="new-campaign-btn">New Campaign</button>
    </p>
  <br>
<div class="content-data">
<h5 class="text-large">Current Campaign and Notes</h5>
<p class="text-med">8 notes are approved out of 10</p>
</div>

<% if (allNotes) { %>
  <% allNotes.forEach(element => { %>
    <%- include ('./partials/userDashboard/note_card', { note_id: element.note_id, filename: element.filename, status: element.note_status }); %>
  <% }); %>
<% } %>
<% if (!allNotes) { %>
  <p>No Notes Found</p>
<% } %>
<!-- <div class="card">
  <div class="content-data">
  <h5 class="text-large">Campaign 1 </h5>
  <p class="text-med">Due date : December, 2022</p>
  <p class="text-med">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div> -->
</div>
<!-- <h2>Accordion</h2> -->

<button class="accordion">Past Campaigns and Notes</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>


</div>
</div>





<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>


</body>

    <%- include('./partials/footer.ejs'); %>

</html>